:root {
  --monospaced: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    /*  Don't let the content scroll-bounce and show the background */
    overscroll-behavior: none;
}

body {
    background: #222222;
    height: 100%
    width: 100%;
    margin: 0;
    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;

    color: #eeeeee;
    font-family: var(--monospaced);
}



#content {
    width: 100%;
    height: 100%;
    display: grid;
    /* padding, prompt and command; padding */
    /*  TODO: This is ugly  */
    grid-template-columns: 10px [prompt] 1fr [padding-right] 10px;
    /* padding; scrollback-content; prompt-line; padding  */
    grid-template-rows: 10px [scrollback] 1fr [prompt-command] min-content [padding-bottom] 10px;
}

#scrollback {
    display: block;
    overflow: scroll;

    /*Since we have the padding on content, we don't need margin/padding on this bad boy. */
    margin: 0;
    padding: 0;

    /* <start> / <end> */
    grid-column: prompt / padding-right;
    grid-row: scrollback / prompt-command;
}

#scrollback pre {
    margin: 0;
    white-space: pre-wrap;
    font-family: var(--monospaced);
}

/* The prompt has three parts, the left color block, the bottom color block, and then the wrapper. I don't know if there's a better way to do this with `grid`. I want the padding to be the same here and on the scrollback so I'd rather have the padding defined by the grid than push the prompt wrapper to the edges of the screen in order to have the prompt color blocks inside the prompt wrapper. */
.prompt-color {
    background: #FFF18A;
}

/* Wraps the prompt, the command input, the last-output-buttons, and the status bar */
#command {
  grid-column: prompt / padding-right;
  grid-row: prompt-command / padding-bottom;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.prompt {
    color: black;

    display: flex;
    align-items: center;
}
.prompt span {
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;   */
}

#prompt-color-left {
    grid-column: 1 / prompt;
    grid-row: prompt-command / padding-bottom;
}
#prompt-color-bottom {
    grid-column: 1 / -1;
    grid-row: padding-bottom / end;
}
#triangle {
    display: inline-block;
    width: 25px;
    height: 100%;
    background: #222222;
}
#triangle path {
  fill: #FFF18A;
}

#command-input {
    padding-top: 5px;
    padding-bottom: 5px;

    grid-column: command / padding-right;
    grid-row: prompt-command / padding-bottom;

    outline: none;
    caret-color: #FFF18A;

    /*  Otherwise when it has no content, the width is 0 and the cursor doesn't render, even if it's focused  */
    flex-grow: 1;
}
